@charset "UTF-8";

#m_body {
  min-width: 100%;
}
nav {
  width: 100%;
  height: 800px;
  background-color: #fff;
  z-index: 9999;
  position: absolute;
  left: -100%;
  top: 0;
}
nav .gnb_header {
  position: relative;
  height: 50px;
  background-color: #af8eff;
}
nav .gnb_header .m_login_bt {
  position: absolute;
  top: 50%;
  left: 3%;
  height: 32px;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
nav .gnb_header .m_close_bt {
  position: absolute;
  top: 50%;
  right: 3%;
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
nav .links::after {
  content: "";
  display: block;
  clear: both;
}
nav .links > a {
  float: left;
  display: block;
  width: 33.333%;
  line-height: 50px;
  font-size: 12px;
  padding: 10px 0 8px;
  box-sizing: border-box;
  text-align: center;
  border-left: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
}
nav .links > a:first-child {
  border-left: 0;
}
nav .links > a img {
  width: 25%;
  margin-right: 10px;
  margin-bottom: 5px;
  vertical-align: middle;
}
nav .gnb_area {
}
nav .gnb_area .one_dep {
  display: block;
  font-size: 17px;
  padding: 20px 15px;
  background: url(../images/mobile/m_one_dep.png) no-repeat 95% 22px;
  background-size: 15px;
  border-bottom: 1px solid #e1e1e1;
}
nav .gnb_area .one_dep.on {
  background: url(../images/mobile/m_one_depclose.png) no-repeat 95% 22px
    #f5f5f5;
  background-size: 15px;
  color: #af8eff;
}
nav .gnb_area .two_dep {
  display: none;
  border-bottom: 1px solid #e1e1e1;
  background: #f3f2f7;
  padding: 0 15px;
}
nav .gnb_area .two_dep > a {
  display: block;
  font-size: 16px;
  padding: 13px 15px;
  border-bottom: 1px solid #dadada;
}
.m_header div {
  width: 100%;
  height: 56px;
  line-height: 56px;
  border-bottom: 1px solid #eee;
  position: relative;
}
.m_header .logo {
  text-align: center;
  position: relative;
}
.m_header .logo img {
  vertical-align: middle;
  padding-bottom: 7px;
  width: 180px;
}
.m_header .menu_btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  background: url(../images/mobile/m_gnb_btn.png) no-repeat center center;
  background-size: 25px;
  text-indent: -9999px;
  overflow: hidden;
  z-index: 30;
}
.mspace {
  margin: 0 auto;
  width: 94%;
}
.m_top_banner {
  text-align: center;
  margin: auto;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.m_top_banner div {
  padding: 5px 0;
}
.m_top_banner div p {
}
.bx-wrapper {
  margin-bottom: 0;
}
.main_banner_wrap {
  width: 100%;
  z-index: 1;
  margin: 0;
  padding: 0;
  position: relative;
}
.main_banner_wrap ul.ban_list {
  width: 100%;
  display: inline-block;
}
.main_banner_wrap ul.ban_list > li {
  float: left;
  width: 100%;
}
.main_banner_wrap ul.ban_list > li img {
  display: block;
  width: 100%;
}
.main_banner_wrap .bx-pager {
  display: inline-block;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 30px;
  height: 12px;
  text-align: center;
  width: 100%;
}
.main_banner_wrap .bx-pager a {
  display: block;
  overflow: hidden;
  width: 15px;
  height: 15px;
  margin: 0 3px 0 3px;
  text-indent: -9999px;
}
.main_banner_wrap .bx-pager a.active {
}
.main_banner_wrap .bx-pager-item {
  display: inline-block;
  vertical-align: top;
}
.bottom_banner {
  padding-top: 14px;
}
.bottom_banner .notice_box {
  display: inline-block;
  background-color: #af8eff;
  color: #fff;
  text-align: center;
  line-height: 44px;
  width: 48%;
  height: 44px;
  font-size: 0.8rem;
  border: 1px solid #eee;
  box-sizing: border-box;
  border-radius: 5px;
}
.bottom_banner .notice_box:last-child {
  margin-left: 3%;
}
.bottom_banner .notice_box span {
}
.login_wrap {
  padding: 30px 0;
  background-color: #eee;
  margin-top: 14px;
}
.login_wrap .login_box .login_cont > * {
  display: table-cell;
  vertical-align: middle;
}
.login_wrap .login_box {
  font-size: 0;
  display: table;
  table-layout: fixed;
}
.login_wrap .login_box .login_cont {
  width: 100%;
  display: table;
  table-layout: fixed;
  height: 100%;
}
.login_wrap .login_box .login_cont .btn_login {
  width: 49%;
  height: 100px;
  background-color: #8276f4;
  display: inline-block;
  margin-left: 5%;
  font-size: 1rem;
  color: #fff;
  border-radius: 10px;
}
.login_wrap .login_box .login_cont .btn_celti_login {
  width: 40%;
  background-color: #419e96;
}
.login_wrap .login_box .login_cont .input_wrap input[type="text"] {
  margin-bottom: 10px;
}
.login_wrap .login_box .login_cont .input_wrap input[type="text"],
.login_wrap .login_box .login_cont .input_wrap input[type="password"] {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  height: 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  text-indent: 10px;
}
.link_wrap {
  margin-top: 14px;
}
.link_wrap ul::after {
  content: "";
  display: block;
  clear: both;
}
.link_wrap ul li {
  float: left;
  width: 32%;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  padding: 18px 15px;
  min-height: 120px;
  background: url(../images/mobile/b_img2.png) no-repeat 85% 70%;
  font-size: 1rem;
  margin-left: 2%;
}
.link_wrap ul li:first-child{
  margin-left: 0;
  background-image: url(../images/mobile/b_img1.png);
}
.link_wrap ul li:last-child {
  background-image: url(../images/mobile/b_img3.png);
  background-size: 42px;
}
.notice_wrap {
  margin-top: 14px;
  height: auto;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  position: relative;
  padding: 20px 6% 10px;
  border-radius: 5px;
}
.notice_wrap .news_tit {
  font-size: 1.2rem;
  font-weight: 500;
}
.notice_wrap ul {
  margin-top: 10px;
}
.notice_wrap ul li a {
  display: block;
  overflow: hidden;
}
.notice_wrap ul li a .tit {
  float: left;
  width: 65%;
  font-size: 14px;
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notice_wrap ul li a .date {
  float: right;
  font-size: 13px;
  line-height: 27px;
  width: 34%;
  text-align: right;
  padding-right: 1%;
}
.notice_wrap .newsMoreBt {
  display: block;
  font-size: 0.8rem;
  position: absolute;
  top: 22px;
  right: 7%;
}
.call_wrap {
  margin-top: 14px;
}
.call_wrap a {
  display: block;
}
.call_wrap .call_box {
  position: relative;
  height: 130px;
  border-radius: 25px;
  border: 1px solid #e3e6f0;
  background-color: #fff;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1), 7px 7px #e7e8ee;
  margin-top: 20px;
  box-sizing: border-box;
}
.call_wrap .call_box:before {
  content: "";
  display: block;
  clear: both;
  width: 50px;
  height: 50px;
  background: url(../images/main/call_box.png) no-repeat 50% 50%;
  background-size: 50px;
  position: absolute;
  top: 32%;
  left: 3%;
}
.call_wrap .call_box .call_left {
  position: absolute;
  top: 13%;
  left: 21%;
}
.call_wrap .call_box .call_left a{
  cursor: pointer;
}
.call_wrap .call_box .call_left p {
  font-size: 1rem;
  height: 36px;
  margin-top: 10px;
  line-height: 18px;
  text-align: center;
}
.call_wrap .call_box .call_right {
  position: absolute;
  right: 0;
  width: 40%;
  height: 128px;
  background-color: #f3f2f7;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-weight: 500;
  line-height: 1.2;
}
.call_wrap .call_box .call_right p {
  padding-left: 10px;
  padding-top: 40px;
}
.call_wrap .call_box .call_right p:last-child {
  padding-top: 12px;
}
footer {
  width: 100%;
  padding: 35px 0px;
  background-color: #f3f2f7;
  margin-top: 20px;
}
footer .footer_link {
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  display: inline-block;
  width: 100%;
}
footer .footer_link li {
  border-right: 1px solid #ccc;
  text-align: center;
  padding: 0 10px;
  display: inline-block;
}
footer .footer_link li a {
  display: block;
}
footer .footer_con {
  text-align: center;
  padding-top: 23px;
  font-size: 11px;
  line-height: 16px;
}
footer .footer_con p {
  padding-top: 10px;
}


/* 서브페이지 */

h2{
  font-size: 1.2rem;
  margin-top: 30px;
  text-align: center;
}

.m_tab_btn{
  display: block;
  margin-top: 20px;
}
.m_tab_btn::after{
  content: '';
  display: block;
  clear: both;
}
.m_tab_btn a {
  display: block;
  height: 40px;
  width: 50%;
  line-height: 20px;
  float: left;
  padding: 9px 0;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  position: relative;
  text-align: center;
  font-size: 0.8rem;
}
.m_tab_btn a.on{
  background-color: #af8eff;
  color: #fff;
}
.m_tab_btn a:last-child{
  border-left: 0;
}
.m_tab_btn a span{
  word-break: keep-all;
}
table{
  width: 100%;
  min-width: 100%;
  max-width: none;
  border-spacing: 0;
  border-collapse: collapse;
}
.m_sub .small_table p{
  margin-top: 20px;
  margin-bottom: 7px;
  font-size: 14px;
}
.m_sub .small_table table tbody tr th{
  font-size: 12px;
  border: 1px solid #e1e1e1;
  text-align: center;
  background: #f4f4f4;
  line-height: 1.8;
}
.m_sub .small_table table tbody tr td{
  font-size: 12px;
    border: 1px solid #e1e1e1;
    padding: 10px;
    text-align: center;
    line-height: 1.8;
}
.m_sub .txt_box_wrap{
  border: 1px solid #e1e1e1;
  margin-top: 20px;
  padding: 25px 4% 30px;
  position: relative;
  box-sizing: border-box;
}
.m_sub .txt_box_wrap .m_tit{
  font-size: 17px;
  line-height: 23px;
  margin-top: 15px;
  text-align: left;
  font-weight: 700;
  position: relative;
}
.m_sub .txt_box_wrap .m_tit::before{
  content: "";
  position: absolute;
  top: -2px;
  width: 30px;
  height: 3px;
  background: #d1beff;
}
.m_sub .txt_box_wrap .m_txt{
  font-size: 13px;
  line-height: 19px;
  margin-top: 20px;
  background: url(../images/sub/sub_chk.png) no-repeat 0 5px;
  background-size: 10px;
  padding-left: 15px;
}
.m_sub .txt_box_wrap .m_txt span{
  color: #5b6bff; 
  display: inline-block;
  padding-top: 12px;
}
.m_sub .txt_box_wrap .m_txt span:last-child{
  color: rgb(255, 102, 102); 
}
.m_sub .big_table table{
  margin-top: 30px;
  font-weight: 300;
}
.m_sub .big_table table thead tr > th{
  border-top: 2px solid #1a1a1a;
  border-bottom: 1px solid rgb(189,189,189);
  font-weight: 500;
  background-color: #f4f4f4;
  border-left: 1px solid rgb(189,189,189);
}
.m_sub .big_table table thead tr:first-child > th{
  border-top: 0;
  text-align: left;
  background-color: #fff;
}
.m_sub .big_table table thead tr > th:first-child{
  border-left: 0;
}
.m_sub .big_table table thead tr > th span{
  color: #5b6bff;
}
.m_sub .big_table table tbody tr td{
  padding :5px 3px;
  border : 1px solid rgb(189,189,189);
  text-align: center;
  font-size: 0.8rem;
  line-height: 2;
}
.m_sub .big_table table tbody tr td:first-child{
  border-left: 0;
}
.m_sub .big_table table tbody tr td:last-child{
  border-right: 0;
}
.m_sub .big_table table tbody tr:nth-child(2n-1) td{ 
  background-color: #8276f4;
  
}
.m_sub .big_table table tbody tr:nth-child(2n-1) td a{
  color: #fff ;
}
.m_sub .m_paging{
  margin-top: 15px;
}
.m_sub .m_paging .pagination{
  text-align: center;
}
.m_sub .m_paging .pagination a{
  margin-left: 6px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 30px;
  color: #404040;
  vertical-align: top;
  text-align: center;
}
.m_sub .m_paging .pagination a.on{
  color: #fff;
  background: #af8eff;
}

.m_course1 .small_table{
  margin-top: 10px;
}
.m_course1 .small_table thead tr th{
  border: 1px solid #e1e1e1;
  background-color: #f4f4f4;
  color: #fd9526;
  font-size: 0.85rem;
}
.m_course1 .small_table tbody tr td span{
  color: #ff8400;
}
.m_course1 .big_table2 table{
  margin-top: 30px;
  font-weight: 300;
}
.m_course1 .big_table2 table thead tr th{
  background-color: #f4f4f4;  
  border : 1px solid #e1e1e1;
  border-top: 2px solid #1a1a1a;
  font-size: 0.8rem;
  line-height: 1.3;
}
.m_course1 .big_table2 table thead tr th:first-child{
  border-left: 0;
}
.m_course1 .big_table2 table thead tr th:last-child{
  border-right: 0;
}
.m_course1 .big_table2 table tbody tr td,
.m_course1 .small_table2 tbody tr td{
  padding :5px 2px;
  border : 1px solid rgb(189,189,189);
  text-align: center;
  font-size: 0.75rem;
  line-height: 2;
}
.m_course1 .big_table2 table tbody tr td:first-child,
.m_course1 .small_table2 tbody tr td:first-child,
.m_course1 .big_table5 tbody tr th:first-child{
  border-left: 0;
}
.m_course1 .big_table2 table tbody tr td:last-child,
.m_course1 .small_table2 tbody tr td:last-child,
.m_course1 .big_table5 tbody tr th:last-child,
.m_course1 .big_table5 tbody tr td:last-child{
  border-right: 0;
}
.m_course1 .big_table2 table tbody tr td .x_btn{
  background-color: #8276f4;
  color: #fff;
  font-size: 1rem;
  line-height: 1rem;
  padding : 7px 11px 10px 11px;
  border-radius: 5px;
  display: inline-block;
}
.m_course1 .big_table2 table tbody tr td .std_btn{
  background-color: #8276f4;
  color: #fff;
  padding: 12px 5px;
  font-size: 0.8rem;
  line-height: 0.8rem;
  display: inline-block;
  border-radius: 5px;
}
.m_course1 .notice ul{
  border-top: 2px solid #c1a7ff;
  padding: 10px;
  line-height: 1.8;
  font-size: 0.9rem;
  padding-top: 5px;
}
.m_course1 .notice ul li{
  padding-left: 5px;
  font-size: 0.8rem;
  background: url(../images/mobile/m_notice_dot.gif) no-repeat 0 50%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.m_course1 .big_table5 tbody tr:first-child{
  border-top: 2px solid #c1a7ff;
}
.m_course1 .big_table5 tbody tr th{
  border : 1px solid rgb(189,189,189);
  text-align: center;
  font-size: 0.8rem;
  line-height: 2;
  background-color: #f3f2f7;
  font-weight: 500;
}
.m_course1 .big_table5 tbody tr td{  
  border : 1px solid rgb(189,189,189);
  text-align: center;
  font-size: 0.75rem;
  line-height: 2;
}
.m_course1 .big_table5 table{
  margin-bottom: 15px;
}
.m_course1 .tb{
  display: none;
}
.m_course1 .tb.on{
  display: block;
}
.m_sub .big_table3 table{
  text-align: center;
  margin-top: 30px;
}
.m_sub .big_table3 table thead tr th{
  border: 1px solid #e1e1e1;
  border-top: 2px solid #af8eff;
  border-bottom: 2px solid #ccc;
  font-size: 0.8rem;
}
.m_sub .big_table3 table tbody tr td{
  border: 1px solid #e1e1e1;
  padding: 10px;
  font-size: 0.7rem;
}
.m_sub .btn_area{
  margin-top: 20px;
  text-align: center;
}
.m_sub .btn_area .grey_btn{
  padding: 0 20px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  background-color: #f3f2f7;
  border: 1px solid #e1e1e1;
  font-size: 0.8rem;
}
.m_sub .big_table4 p{
  padding-left: 10px;
  margin-bottom: 7px;
  font-size: 1rem;
  font-weight: 500;
}
.m_sub .big_table4 table{
  margin-top: 0;
}
.m_sub .big_table4 table tr td{
  line-height: 1.2 !important;
}
.m_sub .big_table4 table tr:nth-child(2n-1),
.m_course1 .small_table2 thead tr{
  background-color: #f3f2f7;
  border-top: 2px solid #c1a7ff;
}
.m_sub .big_table4 table tr:nth-child(2n-1) th{
  font-weight: 400;
}
/* m_notice */
.m_notice .search{
  margin-top: 30px;
  text-align: center;
}
.m_notice .search select{
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  margin-bottom: 5px;
  box-sizing: border-box;
  font-size: 0.8rem;
}
.m_notice .search input{
  width: 89.7%;
  height: 40px;
  padding-left: 10px;
  border:1px solid #e1e1e1;
  border-right: 0;
  float: left;
}
.m_notice .search #srchBtn img{
  width: 40px;
  height: 40px;
}
.m_notice .notice_list{
  margin-top: 25px;
  border-top: 2px solid #000;
}
.m_notice .notice_list ul li{
  width: 94%;
  padding: 15px 3%;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #e1e1e1;
}
.m_notice .notice_list ul li p{
  width: 100%;
  font-size: 0.8rem;
  text-align: left;
  word-break: keep-all;
  line-height: 23px;
  font-weight: 300;
}
.m_notice .notice_list ul li .type{
  margin-bottom: 7px;
}
.m_notice .notice_list ul li .title{
  line-height: 19px;
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 1rem;
}
.m_notice .notice_list ul li .title a{
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.login_after_wrap{
  padding : 30px 0px;
  margin-top: 20px;
  background-color: #f1effa;
}

.login_after_wrap p{
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  width: 30%;
  line-height: 1rem;
  vertical-align: middle;
}
.login_after_wrap a{
  display: inline-block;
  background-color: #41579e;
  padding : 25px 3%;
  color: #fff;
  width: 26%;
  margin-left: 2%;
  text-align: center;
  border-radius: 5px;
}
.login_after_wrap a:last-child{
  background-color: #419e96;
}
.m_sub .m_tab{
  margin-top: 20px;
  height: 30px;
  margin-bottom: 12px;
}
.m_sub .m_tab a{
  display: inline-block;
  width: 20%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
  margin-right: 1%;
}
.m_sub .m_tab a.on{
  background-color: #f1f1f1;
}
.m_notice_detail .tit_wrap{
  border-top: 2px solid #000;
  margin-top: 25px;
  padding: 15px 3%;
  overflow: hidden;
  border-bottom: 1px solid #e1e1e1;
}
.m_notice_detail .tit_wrap p{
  width: 100%;
  font-size: 0.8rem;
  text-align: left;
  word-break: keep-all;
  line-height: 23px;
  font-weight: 300;
}
.m_notice_detail .tit_wrap .type{
  margin-bottom: 7px;
}
.m_notice_detail .tit_wrap .title{
  line-height: 19px;
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 1rem;
}
.m_notice_detail .tit_wrap .title a{
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.m_notice_detail .txt_wrap .file_wrap{
  padding: 7px 3%;
  border-bottom: 1px solid #e1e1e1;
}
.m_notice_detail .txt_wrap .file_wrap p{
  display: inline-block;
  font-weight: 300;
  color: #5b6bff;
  vertical-align: top;
}
.m_notice_detail .txt_wrap .file_wrap ul{
  display: inline-block;
  border-left: 1px solid #e1e1e1;
  padding-left: 5px;
  margin-left: 5px;
}
.m_notice_detail .txt_wrap .file_wrap ul li{
  padding-bottom: 5px;
}
.m_notice_detail .txt_wrap .file_wrap ul li:last-child{
  padding-bottom: 0;
}
.m_notice_detail .txt_wrap .txt{
  padding: 30px 3%;
  line-height: 1.3rem;
  border-bottom: 1px solid #e1e1e1;
}
.m_notice_detail .btn_area{
  margin-top: 25px;
}
.m_notice_detail .btn_area a{
  padding: 0 20px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background-color: #8276f4;
    border: 1px solid #e1e1e1;
    font-size: 0.8rem;
    color: #fff;
}
.m_footer_sub .footer_sub{
  
}
.m_footer_sub .footer_sub .txt_wrap{
  border-top: 1px solid #e1e1e1;
   margin-top: 30px;
   padding: 30px;
}
.m_footer_sub .footer_sub .txt_wrap p{
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 20px;
}
.m_footer_sub .footer_sub .txt_wrap p.txt{
  font-size: 0.8rem;
  font-weight: 300;
}
.m_footer_sub .footer_sub .txt_wrap p.num{
  margin-bottom: 10px;
}
.m_footer_sub .footer_sub .txt_wrap p.subtit{
  margin-top: 30px;
  margin-bottom: 10px;
}
.m_footer_sub .footer_sub .txt_wrap p.txtgrey{
  color: rgb(105, 105, 105);
  margin-top: 5px;
  padding-left: 10px;
  font-size: 0.8rem;
}
.m_footer_sub .footer_sub .txt_wrap p.title{
  font-weight: 500;
  font-size: 1.1rem;
  background: url(../images/sub/sub_chk.png) no-repeat 0 5px;
  padding-left: 15px;
  background-size: 12px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.m_sub .btn_area .grey_btn{
  padding: 0 20px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  background-color: #f3f2f7;
  border: 1px solid #e1e1e1;
  font-size: 0.8rem;
}
.m_footer_sub .footer_sub .info{
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #e1e1e1;
}
.m_footer_sub .footer_sub .info li{
  height: 60px;
}
.m_footer_sub .footer_sub .info li::after{
  content: '';
  display: block;
  clear: both;
}
.m_footer_sub .footer_sub .info li p{
  float: left;
  padding: 10px 0 10px 30px;
  font-size: 0.8rem;
  line-height: 22px;
  box-sizing: border-box;
  height: 60px;
}
.m_footer_sub .footer_sub .info li p img{
  width: 20px;
  vertical-align: middle;
  padding-right: 5px;
  box-sizing: border-box;
}
.m_footer_sub .footer_sub .info li p:first-child{
  width: 25%;
  padding-left: 10px;
}
.m_footer_sub .footer_sub .info li p:last-child{
  width: 75%;
  color:rgb(105, 105, 105);
}
.m_footer_sub .footer_sub .m_map{
  margin-top: 30px;
}
/* 모바일 수강안내 */
.m_mobile_guide .txt_wrap{
  margin-top: 20px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  padding: 30px 10px;
}
.m_mobile_guide .txt_wrap p.title{
  font-weight: 400;
  font-size: 0.9rem;
  background: url(../images/sub/sub_chk.png) no-repeat 0 5px;
  padding-left: 15px;
  background-size: 12px;
  line-height: 1.5rem;
}
.m_mobile_guide .m_tab {
  margin-top: 50px;
  height: 100%;
}
.m_mobile_guide .m_tab a{
  display: block;
  float: left;
  margin : 0;
  padding: 0;
  height: 40px;
  line-height: 40px;
  font-size: 0.8rem;
  width: 25%;
  box-sizing: border-box;
  border : 1px solid #e1e1e1;
  border-radius: 0;
}
.m_mobile_guide .m_tab a.on{
  color: #fff;
  background-color: #8276f4;
}
.m_mobile_guide .m_tab a:nth-child(2){
  border-left: 0;
  border-right: 0;
}
.m_mobile_guide .m_tab a:nth-child(3){
  border-right: 0;
}
.m_mobile_guide .m_tab_in{
  margin-top: 30px;
  text-align: center;
}
.m_mobile_guide .m_tab_in a{
  line-height: 30px;
  margin: 0 12px;
}
.m_mobile_guide .m_tab_in a.on{
  border-bottom: 4px solid #8276f4;
  padding : 0 5px 3px 5px;
}
.m_mobile_guide .m_tab_in a:first-child{
  border-right: 0;
}
.m_mobile_guide .tb{
  display: none;
}
.m_mobile_guide .tb.on{
  display: block;
}
.m_mobile_guide .tb_in{
  display: none;
}
.m_mobile_guide .tb_in.on{
  display: block;
}
.m_mobile_guide .txt_wrap p{
  font-weight: 300;
  line-height: 1.5;
}
.m_mobile_guide .txt_wrap p.label{
  margin-top: 30px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #8276f4;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  line-height: 50px;
}
.m_mobile_guide .txt_wrap img{
  width: 100%;
}
.m_mobile_guide .txt_wrap .guide_txt{
  margin-top: 5px;
  font-size: 0.9rem;
  background-color: #ac0c41;
  color: #fff;
  padding: 10px;
}
.m_qna_detail .tit_wrap .title a{
 display: inline;
}
.m_qna_detail .tit_wrap .title .date{
  font-size: 0.8rem;
  font-weight: 300;
  float: right;
}
.m_qna_detail .tit_wrap .name{
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  width: auto;

}
.m_qna_detail .tit_wrap .ans{
  background-color: #fd9526;
  padding: 3px 10px;
  color: #fff;
  box-sizing: border-box;
  width: auto;
  float: right;
}
.m_qna_detail .txt_wrap p{
  color: rgb(105, 105, 105);
}
.m_qna_detail .txt_wrap .subj{
  color: #41579e;
  margin-bottom: 15px;
}
.m_qna_detail .tit_wrap .answer{
  display: inline-block;
  font-weight: 400;
  color: #5b6bff;
  font-weight: 500;
}
.m_qna_detail .qna_detail .tit_wrap{
  margin-top: 10px;
}
.m_qna_detail .label{ 
  margin-top: 30px;
  font-size: 1rem;
}
.m_qna_detail .label span{
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  background-color: #8276f4;
  color: #fff;
  text-align: center;
  margin-right: 5px;
  font-size: 0.8rem;
}
.m_qna_detail .tit_wrap .answer .date{
  float: right;
  color: #404040;
  font-weight: 300;
}
.m_qna_detail .tit_wrap .name .prof{
  background-color: #fd9526;
  padding: 2px;
  color: #fff;
  border: 1px solid rgb(255, 205, 149);
  box-sizing: border-box;
  margin-right: 5px;
  font-size: 0.6rem;
}