/* padding / margin 유틸 */

.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.p-TB-70{
    padding: 70px 0;
}

.ml-10{
    margin-left: 10px;
}
.mr-4 {
  margin-right: 4px;
}
.mr-8 {
  margin-right: 8px;
}
.mb-4 {
    margin-bottom: 4px;
}
.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mt-10 {
  margin-top: 10px;
}

.m-TB-20 {
  margin: 20px 0;
}

.m-auto {
  margin: 0 auto;
}

